<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>YoloV5 Model</title>
     <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='semantic.min.css') }}">
    <script src="{{ url_for('static', filename='semantic.min.js') }}"></script>

</head>
<body>
    <div class="ui center aligned container">
        <form method="POST" class="ui form" action="{{ url_for('post') }}" enctype=multipart/form-data >
          <div class="inline field">
            <label>Image: </label>
            <input class="image" type="file" name="image">
            <button class="ui green generate button" type="submit">Submit</button>
          </div>
        </form>
        {% if picture %}
          <div style="margin: 50px 0px 10px 0px;">
            <div>
              <img width="400" src="{{ picture }}" alt="yolo result image"/>
            </div>
            <a href="{{ url_for('download_image', filename=picture) }}">
              <div class="ui basic icon buttons">
                <button class="ui button"><i class="download icon"></i> Download Image</button>
              </div>
            </a>
            <table class="ui celled table">
              <thead>
                <tr><th>Name</th>
                <th>Confidence</th>
              </tr></thead>
              <tbody>
                {%for r in rows%}
                  <tr>
                    <td data-label="Name">{{r[0]}}</td>
                    <td data-label="Age">{{r[1]}}</td>
                  </tr>
                {%endfor%}
              </tbody>
            </table>
          </div>
        {% else %}
          <div>Image not uploaded yet!</div>
        {% endif %}
      </div>
  </body>
</html>